
.normal-enfase {
  font-style: var(--font-style-normal);
}

.italic-enfase {
  font-style: var(--font-style-italic);
}

.h1-lg {
  font-size: var(--font-size-lg);
}

.h1-xl {
  font-size: var(--font-size-xl);
}

.h1-xxl {
  font-size: var(--font-size-xxl);
}

.primary-color {
  color: var(--color-primary);
}

.secondary-color {
  color: var(--color-secondary);
}

.fourth-color {
  color: var(--color-fourth);
}

.fifth-color {
  color: var(--color-fifth);
}

.d-contents {
  display: contents;
}
